<button class="js-username", data-id="<%= contact.id %>", data-username="<%= contact.username %>">Show username again</button>
<div id="username-<%= contact.id %>"></div>
<br>

<button class="js-email", data-id="<%= contact.id %>", data-email="<%= contact.email %>">Show Email</button>
<div id="email-<%= contact.id  %>"></div>
<br>

<button class="js-password", data-id="<%= contact.id %>", data-pw="<%= contact.password %>">Show Password</button>
<div id="pw-<%= contact.id  %>"></div>
<br>

<button class="js-liame", data-id="<%= contact.id %>", data-liame="<%= contact.email.upcase.reverse  %>">Email reversed in CAPS: </button>
<div id="liame-<%= contact.id %>"></div>
<hr>

<button class="js-image", data-id="<%= contact.id %>", data-image="<%= contact.image %>">Show contact image</button>
 
<hr>

<iframe id="image-<%= contact.id %> src="<%= contact.image %>"></iframe>