<h1><%= contact.id %>: <%= contact.username %></h2>
<div id="body-<%= contact.id %>"><%= contact.username %> | <%= contact.email %> | <%= contact.password %></div>

<br>
<button class="js-username", data-id="<%= contact.id %>", data-username="<%= contact.username %>">Show username again</button>
<div id="username-<%= contact.id %>"></div>
<br>

<button class="js-email", data-id="<%= contact.id %>", data-email="<%= contact.email %>">Show Email</button>
<div id="email-<%= contact.id  %>"></div>
<br>

<button class="js-password", data-id="<%= contact.id %>", data-pw="<%= contact.password %>">Show Password</button>
<div id="pw-<%= contact.id  %>"></div>
<br>

<button class="js-liame", data-id="<%= contact.id %>", data-liame="<%= contact.email.upcase.reverse  %>">Email reversed in CAPS: </button>
<div id="liame-<%= contact.id %>"></div>
<hr>

<button class="tune", data-id="<%= contact.id %>"><%= link_to "Show favorite tune", pdf_path(contact.id), target_blank = {target: "_blank"}
 %></button>
<div id="tune-<%= contact.id %>"></div>
<hr>