<h1>Edit Contact</h1>
<%= form_for @contact do |f| %>  
  <p>
    <%= f.label :company %>
    <%= f.collection_select :company_id, Company.all, :id, :name %>
  </p>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p> 
  <p>
    <%= f.label :password %>
    <%= f.text_field :password %>
  </p> 
  <p>
    <%= f.hidden_field(:image_cache) %>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p> 
<%= f.submit %>
<% end %>