<h1>Show Contact</h1>

<h3><%= @contact.id %>: <%= @contact.username %></h3>
<p><%= @contact.email %></p>
<p><%= link_to @contact.company.name, company_path(@contact.company) %></p>
<p><%= @contact.company.about %></p>

<img src="<%= @contact.image %>">
<div id="body-<%= @contact.id %>"></div>

<%= render partial: 'contacts/contact', locals: { contact: @contact }%>
 
<script type="text/javascript" charset="utf-8">
$(function(){
 

  $(".js-username").on("click", function(){
    var id = $(this).data("id");
    var username = $(this).data("username");
    $.get("/contacts/" + id + ".json", function(data) {
      $("#username-" + id).text(username);
    });
  }); 

  $(".js-email").on("click", function(){
    var id = $(this).data("id");
    var email = $(this).data("email");
    $.get("/contacts/" + id + ".json", function(data) {
      $("#email-" + id).text(email);
    });
  }); 

  $(".js-password").on("click", function(){
    var id = $(this).data("id");
    var password = $(this).data("pw");
    $.get("/contacts/" + id + ".json", function(data) {
      $("#pw-" + id).text(password);
    });
  }); 

  $(".js-liame").on("click", function(){
    var id = $(this).data("id");
    var liame = $(this).data("liame");
    $.get("/contacts/" + id + ".json", function(data) {
      $("#liame-" + id).text(liame);
    });
  });

  $(".js-image").on("click", function(){
    var id = $(this).data("id");
    var image = $(this).data("image");
    $.get("/contacts/" + id + ".json", function(data) {
      $("#image-" + id).text(image);
    });
  });
});  
</script>