<h1>New Company</h1>

<%= form_for @company do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :about %>
    <%= f.text_field :about %>
  </p>
  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %>
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </p>
<%= f.submit %>
<% end %>