<h1>Company</h1>
<p>
  name: <%= @company.name %>
</p>
<p>
  about: <%= @company.about %>
</p>
<p>
  city: <%= @company.city %>
</p>
<p>
  state: <%= @company.state %>
</p>
<p>
  url: <%= @company.url %>
</p>
