<h1>New Pdf</h1>

<%= form_for @pdf do |f| %>
  <p> 
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :file %><br>
    <%= f.file_field :file %>  
  </p>
<%= f.submit %>
<% end %>