<div class="container">
  <%= link_to "Contacts", contacts_path %> | 
  <%= link_to "New contact", new_contact_path %> |
  <%= link_to "Companies", companies_path %> | 
  <%= link_to "New company", new_company_path %> | 
  <%= link_to "Pdfs", pdfs_path %> | 
  <%= link_to "Add pdf", new_pdf_path %>
</div>